body {
  font-family: "Open Sans", sans-serif;
  background-image: url('./images/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
}



